
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= gravatar_for @user %>
      <h1><%= @user.firstname %> <%= @user.lastname %> </h1>
      <p>Your contact email: <%= @user.email %></p>
    </section>
  </aside>
</div>

<% if @user.transactions.any? %>

  <p class="center lead"><%= link_to "See all experts", experts_path %></p>

  <div class="panel panel-default">

    <div class="panel-heading center">
      <table class="table table-striped">
      <h3 class="panel-title">Your Upcomming Classes</h3>
      <tr>
  		  <th class= "center">Your mentor is:</th>
  	    <th class= "center">Class begins at:</th>
  	    <th class= "center">Class ends at:</th>
      </tr>
    </div>

    <div class="panel-body">

      <% @transactions.each do |transaction| %>
        <tr>

          <td><%= transaction.available_time.expert.firstname %>
              <%= transaction.available_time.expert.lastname %>
          </td>
          <td><%= transaction.available_time.start_time %> h</td>
          <td><%= transaction.available_time.end_time %> h</td>      
        </tr>          
      <% end %>

      </table>
    </div><!-- end panel-body -->

  </div><!-- panel-default -->

<% else %>
  <p class="center lead"><%= link_to "Choose an expert and make a reservation now", experts_path %></p>  
<% end %>