<div class="page-title">
  <div class="title text-center">
    <h3>Student Profile</h3>
    <h4><%= @user.firstname %> <%= @user.lastname %></h4>
  </div>
</div><!-- page-title -->

<div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 structure">
      <div class="row">
        <aside class="col-md-4 col-md-offset-4">
          <section class="user-info">
            <div class="user-gravatar">
              <%= gravatar_for @user %>
            </div>
            <p><%= @user.email %></p>
          </section>
        </aside>
      </div><!-- row -->

      <% if @user.transactions.any? %>
        <p class="center lead"><%= link_to "See all experts", experts_path %></p>
        <div class="panel panel-default">

          <div class="panel-heading center">

            <table class="table table-striped">
            <h3 class="panel-title center"><strong>Your Upcomming Classes</strong></h3>
            <tr class="success">
        		  <th class= "center">Your mentor is:</th>
              <th class= "center">Date:</th>
        	    <th class= "center">Class begins at:</th>
        	    <th class= "center">Class ends at:</th>
            </tr>
          </div><!-- panel-heading -->

          <div class="panel-body">
            <% @ordered_transactions.each do |transaction| %>
              <tr> 
                <td>
                  <%= link_to "#{transaction.available_time.expert.firstname} #{transaction.available_time.expert.lastname}", expert_path(transaction.available_time.expert.id) %>
                </td>
                <td><%= transaction.available_time.date.strftime("%d/%m/%Y") %> h</td>
                <td><%= transaction.available_time.start_time.strftime("%H:%M:%S") %> h</td>
                <td><%= transaction.available_time.end_time.strftime("%H:%M:%S") %> h</td>      
              </tr>          
            <% end %>
            </table> 
          </div><!-- end panel-body -->
        </div><!-- panel-default -->

      <% else %>
        <p class="lead text-center"><%= link_to "Choose an expert and make a reservation now!", experts_path %></p>  
      <% end %>

    </div><!-- col-md-6 col-md-offset-3 -->
  </div><!-- row -->
</div>