<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div>
        <%= link_to "MENTOR_code", root_path, class: "navbar-brand pull-left", id: "logo" %>
      </div>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Meet our experts", experts_path %></li>
          <li><%= link_to "#{current_user.firstname} #{current_user.lastname} Student Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        <% elsif logged_in_expert? %>
          
          <li><%= link_to "#{current_expert.firstname} Dashboard", dashboard_path(current_expert) %></li>
          <li><%= link_to "Logout", experts_logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "User Login", login_path %></li>
          <li><%= link_to "Create a User account", signup_path %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>