<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if logged_in? %>
        Student
      <% elsif logged_in_expert? %>
        Expert
      <% else %>
        Mentor Code
      <% end %>
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  </head>
  
  <body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div>
      <%= render 'layouts/navigation' %>
    	<%= yield %>
    </div>
  </body>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>