<div class="dash-title">
  <div class="title text-center">
    <h3>Dashboard</h3>
    <h4><%= @expert.firstname %> <%= @expert.lastname %></h4>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= render 'layouts/messages' %>
    </div>
  </div>
</div><!-- dash-title -->

  <div class="mentor-info">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center">
        <div>
          <%= image_tag(@expert.picture.url, size: "190x198") if @expert.picture? %>
        </div>  
      </div><!-- end col-md-4 -->
    </div>  <!-- end row -->

    <div class="row">
      <div class="col-md-6 col-md-offset-3 center">
        <h5><i class="fa fa-globe"></i>  <strong>Location:</strong> <%= @expert.location %></h5>      
        <h5><i class="fa fa-briefcase"></i>  <strong>Experience:</strong></h5>  
        <p><%= @expert.experience %></p>  
      </div><!-- end col-md-6 --> 
    </div><!-- end row -->
    
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center">
        <button type="button" class="btn available" data-toggle="modal" data-target="#mynewtime">
          Add Available Time
        </button>        
      </div><!-- end col-md-4 -->
    </div><!-- row -->

  <!-- Modal create action -->
  <%= form_for(@available_time, remote: true) do |f| %>

    <div class="modal fade" id="mynewtime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <% if @available_time.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@available_time.errors.count, "error") %> prohibited this time from being saved:</h2>

        <ul>
        <% @available_time.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>  
            <h4 class="modal-title" id="myModalLabel">Add Available Time</h4>
          </div><!-- end modal-header -->

          <div class="modal-body">

            <div class="field">    
              <%= f.label :date %>
              <%= f.date_field :date, class: 'form-control time_date' %>
            </div>
            <div class="field">
              <%= f.label :Start %>
              <%= f.time_field :start_time, class: 'form-control time_start' %> 
            </div>
            <div class="field">
              <%= f.label :End %>
              <%= f.time_field :end_time, class: 'form-control time_end' %> 
            </div>        
          </div><!-- end modal-body -->

          <div class="modal-footer">
            <%= submit_tag "Create", class: "btn" %>
          </div>
        </div><!-- end modal-content -->
      </div><!-- end modal-dialog -->
    </div><!-- end modal fade -->
  <% end %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 times">
        <h4 class="text-center">My Available Times</h4>
            <div id="container_times" class="center">
              <%= render @available_times %> 
            </div>

    </div>    
  </div>
</div> 


<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" >
       
          <% if @transactions.any?%>
            <!-- si @pending_transactions no está vacio, es decir, si hay transactions con status "pending" -->
            <% if !@pending_transactions.empty? %>
              <h4 class="text-center">Transactions to confirm:</h4>
              <table class="table table-striped">
                <tr>
                  <th class= "center success">Student:</th>
                  <th class= "center success">Date</th>
                  <th class= "center success">Begins</th>
                  <th class= "center success">Ends</th>
                  <th class= "center success">Reserve</th>
                </tr>
                <% @pending_transactions.each do |transaction| %>
                  <tbody>
                    <tr id="mytransaction_<%= transaction.id %>">
                      <td><%= transaction.user.firstname %> <%= transaction.user.lastname %></td>
                      <td><%= transaction.available_time.date.strftime("%d/%m/%Y") %></td>
                      <td><%= transaction.available_time.start_time.strftime("%H:%M") %> h</td>
                      <td><%= transaction.available_time.end_time.strftime("%H:%M") %> h</td>
                      <td><%= form_tag("/users/#{transaction.user.id}/transactions/#{transaction.id}", method: "PUT", remote: true) do %>
                            <%= submit_tag "Confirm" %>        
                          <% end %>
                      </td>
                    </tr>
                  </tbody>
                <% end %>    
              </table>          
            <% else %>
              <p class="text-center">No pending confirmations</p>
            <% end %>
          <% end %>

          <h4 class="text-center">Transactions confirmed:</h4>
          <table class="table table-striped">
            <tr>
              <th class= "center success">Student</th>
              <th class= "center success">Date</th>
              <th class= "center success">Begins</th>
              <th class= "center success">Ends</th>
            </tr>
      
            <tbody id="confirm">
              <%= render @confirmed_transactions %>
            </tbody>     
         
          </table> 

          <% if @confirmed_transactions.empty? %>
            <p class="text-center">Any transaction confirmed yet</p>
          <% end %>   
              
      </div><!-- col-md-4 -->
    </div><!-- row -->  

    <div class="row">
      <div class="col-md-12">
        <div id="av_times">
          <h2 id="month">
            <%= link_to "<", date: @date.prev_month %>
            <%= @date.strftime("%B %Y") %>
            <%= link_to ">", date: @date.next_month %>
          </h2>
          <%= calendar @date do |date| %>
            <%= date.day %>
            <% if @available_times_by_date[date] %>
              <ul style="list-style: none">
                <% @available_times_by_date[date].each do |t| %>
                  <% if t.reserved == false %>
                    <li style="color: red">free: <%= t.start_time.strftime("%H:%M") %> - <%= t.end_time.strftime("%H:%M") %> </li>
                  <% else %>
                    <li style="color: blue">reserved: <%= t.start_time.strftime("%H:%M") %> - <%= t.end_time.strftime("%H:%M") %></li>
                  <% end %>  
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div><!-- av_times --> 
      </div><!-- col-md-12 -->
    </div><!-- row -->   
  </div><!-- container -->  


