<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="dashboard">
      <h4 style="text-decoration: underline">Dashboard of:</h4>
    </div>  
    <div class="show_name">
      <h4><%= @expert.firstname %> <%= @expert.lastname %></h4>  
    </div> 

    <div class="row">
      <div class="col-md-4 pull-right">
        <section class="picture">
          <%= image_tag(@expert.picture.url, size: "190x198") if @expert.picture? %>
        </section>  
      </div><!-- end col-md-4 -->

      <div class="col-md-8">
        <div class="show-info">
          <h5><strong>Location:</strong> <%= @expert.location %></h5>      
          <h5><strong>Experience:</strong></h5>  
          <p><%= @expert.experience %></p>
        </div> 

      </div><!-- end col-md-8 --> 

    </div><!-- end row -->

    <div class="add-time">
      <%= link_to "Add available time", new_available_time_path, class:"btn btn-primary" %>
    </div>

    <% if @expert.available_times.any?%>
      <h4 class="text-center">My Available Times</h4>

      <table class="table table-striped">
        <tr class="success">
          <th class="center">Date:</th>
          <th class= "center">Class begins at:</th>
          <th class= "center">Class ends at:</th>
        </tr>

        <% @available_times.each do |available_time| %>
          <tr>
            <td><%= available_time.date.strftime("%m/%d/%Y") %></td>
            <td><%= available_time.start_time.strftime("%H:%M:%S") %> h</td>
            <td><%= available_time.end_time.strftime("%H:%M:%S") %> h</td>
          </tr> 
        <% end %>  
      </table>
    <% end %>

    <% if @transactions.any?%>
      <% if !@pending_transactions.empty? %>
        <h4 class="text-center">Transactions to confirm:</h4>
        <table class="table table-striped">
          <tr>
            <th class= "center success">Student:</th>
            <th class= "center success">Date:</th>
            <th class= "center success">Class begins at:</th>
            <th class= "center success">Class ends at:</th>
            <th class= "center success">Reserve</th>
          </tr>
          <% @pending_transactions.each do |transaction| %>
            <tbody>
              <tr>
                <td><%= transaction.user.firstname %> <%= transaction.user.lastname %></td>
                <td><%= transaction.available_time.date.strftime("%m/%d/%Y") %></td>
                <td><%= transaction.available_time.start_time.strftime("%H:%M:%S") %> h</td>
                <td><%= transaction.available_time.end_time.strftime("%H:%M:%S") %> h</td>
                <td><%= form_tag("/users/#{transaction.user.id}/transactions/#{transaction.id}", method: "PUT") do %>
                      <%= submit_tag "Confirm" %>        
                    <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>    
        </table>          
    <%end%>

    <h4 class="text-center">Transactions confirmed:</h4>
      <table class="table table-striped">
        <tr>
          <th class= "center success">Student:</th>
          <th class= "center success">Date:</th>
          <th class= "center success">Class begins at:</th>
          <th class= "center success">Class ends at:</th>
        </tr>
      <% if !@confirmed_transactions.empty? %>
        <% @confirmed_transactions.each do |transaction| %>
            <tbody>
              <tr>
                <td><%= transaction.user.firstname %> <%= transaction.user.lastname %></td>
                <td><%= transaction.available_time.date.strftime("%m/%d/%Y") %></td>
                <td><%= transaction.available_time.start_time.strftime("%H:%M:%S") %></td>
                <td><%= transaction.available_time.end_time.strftime("%H:%M:%S") %></td>
              </tr>
            </tbody>     
        <% end %>
      <% end %>
      </table>  
    <% end %>
  </div> 
</div>

