<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="page-header">
      <h1 id="mentor-title" style="text-decoration: underline">Mentors</h1>
    </div>  

    <% @experts.each do |expert| %>

      <div class="row box">

        <div class="col-md-4">
          <section class="center" id="picture">
            <%= image_tag(expert.picture.url, size: "180x198") if expert.picture? %>
          </section>  
        </div> 

        <div class="col-lg-8 well">
          <h4 id="name"><%= link_to expert.firstname, expert_path(expert) %></h4>    
          <h6><strong>Location:</strong></h6>
          <p><%= expert.location %></p>
          <h6><strong>Experience:</strong></h6>
          <p><%= expert.experience %></p>
          <%= link_to "See disponibility", expert_path(expert), class: "btn btn-primary" %>
        </div> 

      </div>  
    <% end %>  

  </div> 
</div>