<div class="page-title">
  <div class="title text-center">
    <h3>All Our Mentors</h3>
  </div>
</div><!-- page-title -->

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="mentors">
      <% @experts.each do |expert| %>

          <div class="col-sm-4">
            <div class="panel text-center">
   
              <%= image_tag(expert.picture.url, size: "198x198") if expert.picture? %>
              <div class="info">
                <h4><%= link_to "#{expert.firstname} #{expert.lastname}", expert_path(expert) %></h4>
                <h5><%= expert.location %></h5>
                <p>
            
                </p>
                <h6><strong>Experience:</strong></h6>
                <div class="text">
                  <% if expert.experience.length > 80%>
                    <p><%= truncate(expert.experience, length: 80) %><%= link_to " See more", expert_path(expert) %></p>
                  <% else %>
                    <p><%= expert.experience %></p>
                  <% end %>  
                </div>
         
                  <div class="disp">
                    <%= link_to "See disponibility", expert_path(expert), class: "boton btn" %>
                  </div>
              
              </div>   
    
            </div><!-- panel --> 
          </div> <!-- col-sm-4 -->
      <% end %>  
    </div>
  </div> <!-- end col-md-8 -->
</div><!-- end row -->


 