<div class="dash-title">
  <div class="title text-center">
    <h3>Experts Signup</h3>
    <h4>Become a mentor now!</h4>
    <p>Please, complete your location, experience and don't forget to add a professional picture.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 square-2">
   
    <%= form_for(@expert, html: { multipart: true }) do |f| %>

      <%= render 'shared/expert_error_messages' %>

      <%= f.text_field :firstname, class: 'form-control', placeholder: "First name" %>

      <%= f.text_field :lastname, class: 'form-control', placeholder: "Last name" %>      

      <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>

      <%= f.text_field :location, class: 'form-control', placeholder: "Location" %> 

      <%= f.text_field :experience, class: 'form-control', placeholder: "Experience" %>   
      <span class="picture"> 
        <%= f.label :your_picture %><%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password Confirmation" %>

      <%= f.submit "Create account", class: "btn btn-lg" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>