

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <h2>Experts Signup</h2>
    <%= form_for(@expert, html: { multipart: true }) do |f| %>

      <%= render 'shared/expert_error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :firstname, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :lastname, class: 'form-control' %>      

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %> 

      <%= f.label :experience %>
      <%= f.text_field :experience, class: 'form-control' %>   
      <span class="picture"> 
        <%= f.label :picture %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>