<div class="row">

  <div class="col-md-4 pull-right center">
    <section class="picture center">
      <!--assets/images -->
      <%= image_tag("007.jpg", :size => '260x220') %>
    </section>  
  </div><!-- end col-md-4 -->

  <div class="col-md-8">
    <div class="show_name">
      <h3><%= @expert.firstname %> <%= @expert.lastname %></h3>  
    </div> 

    <div class="show-info">
      <h4><strong>Location:</strong> <%= @expert.location %></h4>      
      <h4><strong>Experience:</strong></h4>  
      <p><%= @expert.experience %></p>
    </div>      
  </div><!-- end col-md-8 --> 

</div><!-- end row -->

<% if @expert.available_times.any? %>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Disponibility</h3>
    </div>

    <div class="panel-body">
      <!-- Table -->
      <% @expert.available_times.each do |available_time| %>
      <table class="table table-striped">
        <tr>
          <td><p>Date:</p><%= available_time.date %></td>
          <td><p>Start:</p><%= available_time.start_time %> h</td>
          <td><p>End:</p><%= available_time.end_time %> h</td>
          <td><p>id:</p><%= available_time.id %> h</td>
          <td>
            <!-- las variables de la form tienen que definirse en en la show action
            del experts controller -->
            <%= form_for [@user, @transaction], url: "/users/#{@user.id}/transactions" do |f| %>
              <%= hidden_field_tag "available_time_id", available_time.id %>
              <%= f.submit "Reserve", class: "btn btn-primary" %>
            <% end %>
          </td>

        </tr>          
      </table>
      <% end %>
    </div><!-- end panel-body -->

  </div><!-- panel-default -->
<% else %>
  <p>Sorry, this expert doesn't have any available time at this moment. </p>
<% end %>

<script>
  $('.btn-primary').on('click', )
</script>