<div class="row">
  <div class="col-md-6 col-md-offset-3 expert-box">
    <h3 style="text-decoration: underline">Expert information</h3>
    <div class="col-md-4 pull-right center">
      <section class="picture">
        <%= image_tag(@expert.picture.url, size: "190x198") if @expert.picture? %>
      </section>  
    </div><!-- end col-md-4 -->

    <div class="col-md-8">
      <div class="show_name">
        <h3><%= @expert.firstname %> <%= @expert.lastname %></h3>  
      </div> 

      <div class="show-info">
        <h5><strong>Location:</strong> <%= @expert.location %></h5>      
        <h5><strong>Experience:</strong></h5>  
        <p><%= @expert.experience %></p>
      </div>      
    </div><!-- end col-md-8 --> 

  </div><!-- end row -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if @expert.available_times.any? %>
        <div class="panel panel-default">

          <div class="panel-heading center">
            <h3 class="panel-title"><strong>Availability</strong></h3>
          </div>

          <div class="panel-heading center">
            <table class="table table-striped">
            <tr class="success">
              <th class= "center">Date:</th>
              <th class= "center">Class begins at:</th>
              <th class= "center">Class ends at:</th>
              <th class= "center">Reserve</th>
            </tr>
          </div>
          
          <div class="panel-body" id="availability">
            <!-- Table -->
            <% @expert_unreserved_available_times.each do |available_time| %>
            <table class="table table-striped">
              <tr>
                <td><%= available_time.date.strftime("%m/%d/%Y") %></td>
                <td><%= available_time.start_time.strftime("%H:%M:%S") %> h</td>
                <td><%= available_time.end_time.strftime("%H:%M:%S") %> h</td>
                <td>
                  <!-- las variables de la form @user y @transaction tienen que definirse en en la show action
                  del experts controller -->

                  <%= form_for [@user, @transaction], url: "/users/#{@user.id}/transactions" do |f| %>
                    <%= hidden_field_tag "available_time_id", available_time.id %>
                    <%= f.submit "Reserve", class: "btn btn-primary" %>
                  <% end %>
                </td>

              </tr>          
            </table>
            <% end %>
          </div><!-- end panel-body -->

        </div><!-- panel-default -->
      <% else %>
        <p>Sorry, this expert doesn't have any available time at this moment. </p>
      <% end %>
    </div>
  </div>  

  </div> 
</div>
