<div class="page-title">
  <div class="title text-center">
    <h3>Mentor:</h3>
    <h4><%= @expert.firstname %> <%= @expert.lastname %></h4>
  </div>
</div><!-- page-title -->

<div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="mentor-info">

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div>
              <%= image_tag(@expert.picture.url, size: "190x198") if @expert.picture? %>
            </div>  
          </div>
        </div>

        <div class="row">  
          <div class="col-md-6 col-md-offset-3 center">  
              <h5><i class="fa fa-globe"></i>  <strong>Location:</strong> <%= @expert.location %></h5>      
              <h5><i class="fa fa-briefcase"></i>  <strong>Experience:</strong></h5>  
              <p><%= @expert.experience %></p>  
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <% if @expert_future_unreserved_times.any? %>
                <h4 class="text-center">Availability for classes</h4>
                <table class="table table-striped">
                  <tr class="success">
                    <th class="center">Date:</th>
                    <th class="center">Begins:</th>
                    <th class="center">Ends:</th>
                    <th class="center">Reserve</th>
                  </tr>
                  <% @expert_future_unreserved_times.each do |available_time| %>
                    <tr>
                      <td><%= available_time.date.strftime("%d/%m/%Y") %></td>
                      <td><%= available_time.start_time.strftime("%H:%M:%S") %> h</td>
                      <td><%= available_time.end_time.strftime("%H:%M:%S") %> h</td>
                        <!-- las variables de la form @user y @transaction tienen que definirse en en la show action
                        del experts controller -->
                      <% if logged_in? %>
                        <td>
                          <%= form_for [@user, @transaction], url: "/users/#{@user.id}/transactions" do |f| %>
                            <%= hidden_field_tag "available_time_id", available_time.id %>
                            <%= f.submit "Reserve" %>
                          <% end %>
                        </td>  
                      <% else %>
                        <td>
                          <%= link_to "Login", login_path %> or
                          <%= link_to "Signup", signup_path %>
                        </td>  
                      <% end %> 
                    </tr> 
                  <% end %>           
                  </table>  
            <% else %>
              <div class="">
                <p class="text-center">Sorry, this expert doesn't have any available time at this moment. </p>
              </div>
            <% end %>
          </div><!-- col-md-12 -->
        </div><!-- row -->       

      <div><!-- end col-md-6 -->
    </div><!-- mentor-info -->
  </div><!-- end row -->
</div>



